<h1>My beers</h1>

<div *ngFor="let beer of beers">
  <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header">{{ beer.name}}</div>

    <div class="card-body">
      <p class="card-text">{{ beer.description }}</p>
      <p class="card-text">{{ beer.volume }}</p>
      <span class="badge badge-pill badge-light">{{beer.Brewery.name}}</span>
      <span class="badge badge-pill badge-light">{{beer.Type.name}}</span>
    </div>
  </div>

  <div style="padding: 0px 0px 20px 0px;">
    <a class="btn btn-primary" [routerLink]="['/beer', beer.id]">Modify</a>
    <button class="btn btn-primary" (click)="showAlert(beer.id)">Delete</button>
  </div>

  <app-modal-delete-beer style="padding: 0px 0px 40px 0px; display:none;" id='{{beer.id}}'
                    (delete)="deleteBeer(beer.id)"
                    (cancel)="showAlert(beer.id)">
  </app-modal-delete-beer>
</div>
