<h1>My beers</h1>

<div>
  <ul class="beers">
    <li *ngFor="let beer of beers"
    [class.selected]="beer === selectedBeer"
    (click)="onSelect(beer)">
      <span class="badge">{{ beer.id }}</span> {{ beer.name }}
    </li>
  </ul>
</div>

<div *ngIf="selectedBeer">

  <h2>{{ selectedBeer.name | uppercase }} Details</h2>

  <div>
      <span>id</span> {{ selectedBeer.id }}>
  </div>

  <div>
    <label>Name<br>
      <input [(ngModel)]="selectedBeer.name" placeholder="name">
    </label>
  </div>

  <div>
    <label>Description<br>
      <textarea rows="4" cols="50"  [(ngModel)]="selectedBeer.description" placeholder="description"></textarea>
    </label>
  </div>

  <div>
    <label>volume<br>
      <input [(ngModel)]="selectedBeer.volume" placeholder="volume">
    </label>
  </div>

  <div>
    <label>Type<br>
      <input [(ngModel)]="selectedBeer.type.name" placeholder="type">
    </label>
  </div>

  <div>
    <label>Brewery<br>
      <input [(ngModel)]="selectedBeer.brewery.name" placeholder="brewery">
    </label>
  </div>

</div>
