<h1>My types</h1>

<div *ngFor="let type of types">
 <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header">{{ type.name }}</div>

    <div class="card-body">
      <p class="card-text">{{ type.description }}</p>
    </div>
  </div>

  <div class="card-body">
      <div *ngFor="let beer of beers">
        <li>{{ beer.name }}</li>
      </div>
  </div>

  <div style="padding: 0px 0px 20px 0px;">
    <a class="btn btn-primary" [routerLink]="['/type', type.id]">Modify</a>
    <button class="btn btn-primary" (click)="showAlert(type.id)">Delete</button>
  </div>

  <app-modal-delete-type style="padding: 0px 0px 40px 0px; display:none;" id='{{type.id}}'
                    (delete)="deleteType(type.id)"
                    (cancel)="showAlert(type.id)">
  </app-modal-delete-type>
</div>
