<!-- Error messages -->
<div id="form-error" style="display: none; color: red; size: 20px;">
  Please fill all the fields.
</div>
<div id="send-error" style="display: none; color: red; size: 20px;">
  Error, please check your connection.
</div>

<!-- Form for create a new beer -->
<h1>Add a new beer</h1>

<form style="width:25%;" (ngSubmit)="onSubmit()">
  <div class="form-group has-success">
    <label class="form-control-label">Name</label>
    <input type="text" class="form-control is-valid" [(ngModel)]="newBeer.name" name="name">
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="3" [(ngModel)]="newBeer.description" name="description"></textarea>
  </div>

  <div class="form-group">
    <label class="form-control-label">Volume</label>
    <input class="form-control" [(ngModel)]="newBeer.volume" name="volume">
  </div>

  <div class="form-group">
    <label for="exampleSelect1">Brewery</label>
    <select class="form-control" id="exampleSelect1" [(ngModel)]="newBeer.brewery.name" name="brewery">
        <option *ngFor="let brewery of breweries" [ngValue]="brewery.id">{{ brewery.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleSelect2">Type</label>
    <select class="form-control" id="exampleSelect2" [(ngModel)]="newBeer.type.name" name="type">
        <option *ngFor="let type of types" [ngValue]="type.id">{{ type.name }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
