<h1>The component types works!</h1>
<p>
  {{ ipa.name | uppercase }}
</p>

<div>
  <div>
    <label>id<br>
      <input [(ngModel)]="ipa.id" placeholder="id">
    </label>
  </div>

  <div>
    <label>Name<br>
      <input [(ngModel)]="ipa.name" placeholder="name">
    </label>
  </div>

  <div>
    <label>Description<br>
      <textarea rows="4" cols="50"  [(ngModel)]="ipa.description" placeholder="description"></textarea>
    </label>
  </div>

  <div>
    <label>Beers<br>
      <li *ngFor="let beer of ipa.beers; let i = index">
        {{i}} <input {{item}} placeholder="beer">
      </li>
    </label>
  </div>
</div>
