<!-- Error messages -->
<div id="form-error" style="display: none; color: red; size: 20px;">
  Please fill all the fields.
</div>
<div id="send-error" style="display: none; color: red; size: 20px;">
  Error, please check your connection.
</div>

<!-- Form for create a new brewery -->
<form style="width:25%;" (ngSubmit)="onSubmit()">
  <div class="form-group has-success">
    <label class="form-control-label">Name</label>
    <input type="text" class="form-control is-valid" [(ngModel)]="newBrewery.name" name="name">
  </div>

  <div class="form-group">
    <label class="form-control-label">Description</label>
    <textarea class="form-control" rows="3" [(ngModel)]="newBrewery.description" name="description"></textarea>
  </div>

  <div class="form-group">
    <label class="form-control-label">Site web</label>
    <input class="form-control" [(ngModel)]="newBrewery.website" name="website">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
