<h1>My breweries</h1>

<div *ngFor="let brewery of breweries">
 <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header">{{ brewery.name }}</div>

    <div class="card-body">
      <p class="card-text">{{ brewery.description }}</p>
    </div>

    <div class="card-body">
      <p class="card-text">{{ brewery.website }}</p>
    </div>

    <div class="card-body">
        <div *ngFor="let beer of beers">
          <li>{{ beer.name }}</li>
        </div>
    </div>
  </div>

  <div style="padding: 0px 0px 20px 0px;">
    <a class="btn btn-primary" [routerLink]="['/brewery', brewery.id]">Modify</a>
    <button class="btn btn-primary" (click)="showAlert(brewery.id)">Delete</button>
  </div>

  <app-modal-delete-brewery style="padding: 0px 0px 40px 0px; display:none;" id='{{brewery.id}}'
                    (delete)="deleteBrewery(brewery.id)"
                    (cancel)="showAlert(brewery.id)">
  </app-modal-delete-brewery>
</div>
